#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.form-holder-shortcode-custom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f7ff;
  padding: 40px 32px;
  border-radius: 12px;
  max-width: 1200px;
  gap: 24px;

  * {
    box-sizing: border-box;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;

    @media (max-width: 600px) {
      font-size: 38px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;

    @media (max-width: 600px) {
      align-items: center;
    }

    .field-holder {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        gap: 16px;
      }

      .field {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        @media (max-width: 600px) {
          width: 100%;
        }

        label {
          font-family: "Heebo", sans-serif;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0%;
        }

        input,
        select {
          width: 100%;
          border: none;
          background-color: #fff;
          font-family: "Heebo", sans-serif;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0%;
          padding: 12px 16px;
        }
      }
    }

    .btn {
      background-color: #005ff9;
      padding: 12px 24px;
      border: none;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
    }
  }
}

.results-shortcode {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 40px;

  * {
    box-sizing: border-box;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;

    @media (max-width: 600px) {
      font-size: 28px;
    }
  }

  .user-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    row-gap: 20px;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    .user-item {
      width: 49%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      border-radius: 12px;
      background-color: #f2f7ff;

      @media (max-width: 1024px) {
        width: 100%;
      }

      h4 {
        font-family: "Heebo", sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        margin: 0;
        padding-bottom: 24px;
      }

      p {
        font-family: "Heebo", sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        margin: 0;
      }
    }
  }
}
